.blur {
    backdrop-filter: blur(3px);
    border-radius: 1rem;
    padding: 10px;
    -moz-box-shadow: 0px 0px 7px white;
    -webkit-box-shadow: 0px 0px 7px white;
    box-shadow: 0px 0px 7px white;
}

.bg-image {
    padding: 5%;
}

/* .carousel-control-prev {
    color: black;
    background-color: rgba(0, 0, 0, 0.7);
}
.carousel-control-next {
    color: black;
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-control-next-icon {
    color: black;
} */

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent black background */
    padding: 10px;
    border-radius: 5px;
    bottom: 10%;
    transform: translate(0, 10%);
}

.carousel-caption h5 {
    font-size: 1 rem;
    font-weight: 700;
    color: #fff;
}


/* #slider { /* Controls size of the images in carousel
    width: 800px;
    height: 800px;
} */


/* Responsive adjustments */
@media (max-width: 992px) {
    .carousel-caption h5 {
        font-size: 1rem;
    }
}

/* CV elements?*/

h3 {
    color: darkorchid;
}